body {
    font-family: "Trebuchet MS";
}

h2 {
    color: blue;
}

.horizontal-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.horizontal-flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link {
}

.image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-primary {
    width: 100%;
}

.jumbotron {
    padding: 25px;
}

.image-primary-text {
    position: absolute;
    text-align:center;
    width: 100%;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.1em;
}

.headshot-container {
    display: flex;
    justify-content: center;
}
.headshot {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    max-width: 450px;
}

.footer {
    background: #525d68;
}

.contact-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}